body {
	@include span-columns(12);
	@include pad(0);
	margin:0;
	font:{family:$first_font;}
}
a {
	text:{decoration:none;}
}
.wrapper {
	@include span-columns(12);
}
.content-windows {
	@include pad(0 10px);
	@include span-columns(12);
	@include media($notebook) {
		@include outer-container(1120px); 
		float: initial;
		margin:0 auto !important;
		@include pad(0);
	}
	@include media($desktop) {
		@include outer-container(80%); 
		float: initial;
		margin:0 auto !important;
		@include pad(0);
	}
}
.content-mobile {
	@include outer-container(90%);
	margin:20px auto !important;
	display: block;
	float: initial;
	@include media($notebook) {
		@include outer-container(80%);
		margin:20px auto !important;
		display: block;
		float: initial;
	}
}
.title-section {
	@include span-columns(12);
	color:$color_3;
	text:{transform:uppercase;}
	font:{size:0.8em;}
	margin:10px 0;
	@include media($notebook) {
		font:{size: 1.6em;}
	}
	@include media($desktop) {
		font:{size: 1.9em;}
	}
}
.subtitle-section {
	@include span-columns(12);
	color:$color_3;
	text:{transform:uppercase;}
	font:{size:0.9em;}
	margin:10px 0;
	border-bottom:1px solid $color_3;
	@include media($notebook) {
		font:{size: 0.8em;}
	}
	@include media($desktop) {
		font:{size: 0.8em;}
	}
}
.input-form {
	@include span-columns(12);
	@include pad(10px 5px);
	color:$color_3;
	background:$white;
	border:0;
	margin:{bottom:6px;}
	outline:none;
	@include placeholder {
		color:$color_3;
		font:{style:italic;}
	}
	@include media($notebook) {
		@include pad(15px 10px);
		font:{size:0.8em;}
	}
}
.button-blue {
	@include span-columns(12);
	background:$color_2;
	border:1px solid $color_2;
	border-radius:20px;
	color:$white;
	font:{size:0.7em;}
	margin:{top:0;bottom:10px;}
	text:{transform:uppercase;}
	padding:0.7em 1em;
	@include media($notebook) {
		font:{size:0.7em;}
	}
}