.slider-section {
	.slider-home {
		@include row();
		border-top:1px solid $white;
		height:300px;
		background:$color_2;
		@include media($notebook) {
			height:400px;
		}
		@include media($desktop) {
			height:500px;
		}
		.swiper-wrapper {
			text:{align:center;}
			color:$white;
			font:{size:5em;}
		}
		.swiper-pagination {
			.swiper-pagination-bullet {
				background:$white;
			}
		}
	    .swiper-button-next {
		    color:$white;
		    font:{size: 4em;}
			background:none;
			top: 40%;
		}
		.swiper-button-prev {
		    color:$white;
		    font:{size: 4em;}
		   	background:none;
		   	top: 40%;
		} 
	}	
} 
.servicios-section {
	@include span-columns(12);
	margin:{top:10px;}
	@include media($notebook) {
		margin:{top:30px;}
	}
	.categorias-home {
		@include span-columns(12);
		ul {
			@include span-columns(12);
			@include pad(0);
			margin:0;
			li {
				@include span-columns(12);
				margin:{bottom:10px;}
				@include media($notebook) {
					@include span-columns(4);
				}
				.category-boxes {
					@include span-columns(12);
					height: 300px;
					display: inline-block;
					&.hum-category {
						background: $color_2;
					}
					&.sum-category {
						background: $color_4;
					}
					&.vet-category {
						background: $color_5;
					}	
				}
			}
		}
	}
}
.products-home {
	@include span-columns(12);
	@include media($notebook) {
		margin:30px 0;
	}
	.woocommerce {
		@include span-columns(12);
		width: 100%;
        height: 100%;
		ul {
			&.products {
				@include outer-container(90%);
				margin:20px auto !important;
				display: block;
				float: initial;
				@include media($notebook) {
					@include outer-container(80%);
					margin:20px auto !important;
					display: block;
					float: initial;
				}
				li {
					@include span-columns(6);
					display: inline-block;
					text:{align:center;}
					@include media($mobileTomobileLand) {
						@include omega(2n);
					}	
					@include media($notebook) {
						@include span-columns(3);
						@include omega(4n); 
						display: inline-block; 
					}
					h3 {
						color:$black;
						font:{size:0.9em;}
						padding:0;
						@include media($notebook) {
							padding:{bottom:5px;}
						}
					}
					.price {
						color:$color_2;
						font:{size:1.2em;}
						margin:{bottom:5px;}
						@include media($notebook) {
							padding:{bottom:5px;}
						}
					}
					.button {
						background:none;
						border:1px solid $color_2;
						border-radius:20px;
						color:$color_2;
						font:{size:0.7em;}
						margin:{top:0;bottom:10px;}
						text:{transform:uppercase;}
						padding:0.7em 1em;
						@include media($notebook) {
							font:{size:0.7em;}
						}
					}
					.added_to_cart {
						background:$color_2;
						border-radius:20px;
						color:$white;
						font:{size:0.7em;}
						padding:0.7em 3em;
						margin:{top:0;bottom:15px;}
						text:{transform:uppercase;}
						@include media($notebook) {
							font:{size:0.7em;}
						}
					}
				}
			}
		}
	}
}
